{#
/**
 * @file
 * Theme override for tabs.
 */
#}

{% extends "block.html.twig" %}

{% block content %}
  {% if content %}
    <nav class="tabs container" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ content }}
    </nav>
  {% endif %}
{% endblock %}
