{% embed "@base/06-common/_wrapper.twig" with {
  element_base_class: element_base_class|default(''),
} %}
  {% block element_content %}
    {% if grid.title %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 2,
        heading: grid.title,
      } %}
    {% endif %}
    {% if grid.subtitle %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 3,
        heading: grid.subtitle,
      } %}
    {% endif %}

      <div class="row">
        {% for item in grid.cards[:2] %}
          <div {{ bem('item', [], 'grid', item.attributes.grid_extra_classes) }}>
            {% include "@" ~ item.attributes.path ~ ".twig" with {
              card__link: item.link,
              card__image: item.image,
              card__heading: item.title,
              card__blockquote: item.blockquote,
              card__cta: item.cta,
              card__body: item.text,
              card__modifiers: item.attributes.modifier,
              config: item.attributes.config,
            } %}
          </div>
        {% endfor %}
        {% for item in grid.cards[3:6] %}
          <div {{ bem('item', [], 'grid', item.attributes.grid_extra_classes) }}>
            {% include "@" ~ item.attributes.path ~ ".twig" with {
              card__link: item.link,
              card__image: item.image,
              card__heading: item.title,
              card__blockquote: item.blockquote,
              card__cta: item.cta,
              card__body: item.text,
              card__modifiers: item.attributes.modifier,
              config: item.attributes.config,
            } %}
          </div>
        {% endfor %}
      </div>

      {% if grid.footnote %}
        <div {{ bem('footnote', [], 'grid') }}>
          {{ grid.footnote|raw }}
        </div>
      {% endif %}

      {% if grid.link %}
        {% include "@atoms/links/link/link.twig" with {
          link_url: grid.link.url,
          link_content: grid.link.title,
          link_extra: [
            'btn',
            'btn-success',
          ],
        } %}
      {% endif %}
    </div>
  {% endblock %}
{% endembed %}