@import '@base/00-defaults/_01-variables.scss';
@import '@base/00-defaults/_04-functions.scss';
@import '@base/00-defaults/_03-mixins.scss';
@import '@bootstrap/styles/_variables.scss';
@import '@bootstrap/styles/_mixins_functions.scss';
@import '@organisms/grid/grid-with-header-extension.scss';

@mixin grid {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  @include grid;

  &--card {
    @include space-stack-page;
  }
}

.grid_with_header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .grid__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}