{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the textarea element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}
{% set additional_attributes = additional_attributes|default({})|merge({
  class: additional_attributes.class|default(['form-control']),
}) %}
{% set bem_class = bem(
  additional_attributes.bem_base_class|default(''),
  additional_attributes.bem_modifiers|default([]),
  additional_attributes.bem_blockname|default(''),
  additional_attributes.bem_extra|default([])|merge(attributes.class is defined ? (attributes.class is iterable ? attributes.class : [attributes.class]) : [''])|merge(additional_attributes.class is defined ? (additional_attributes.class is iterable ? additional_attributes.class : [additional_attributes.class]) : [''])
  ) %}
<div{{ wrapper_attributes }}>
  <textarea  {{ add_attributes(additional_attributes|without('class', 'bem_base_class', 'bem_blockname', 'bem_modifiers', 'bem_extra')) }} {{ bem_class }}>{{ value }}</textarea>
</div>
